/* centering */
#gameInfo, #game{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* dark mode */
body {
  font-family: "Georgia", "Times New Roman", serif;
  background-color: #0F1A24;
  color: #F5ECD9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

#infoScreen {
  height: 100vh;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.title {
  font-size: 50px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

/* Paragraphs */
.instruction {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.infoScreenButton, .postGameBtn{
    text-align: center;
    height: 35px;
    width: 160px;
    background-color: #d2b32a;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    z-index: 10001;
}

.infoScreenButton{
  margin-top: 9px;
}

/* board styling */
#board {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.row{
  display: flex;
  gap: 5px;
}

.square {
    color: white;
    width: 50px;
    height: 50px;
    border: 1px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    border-radius: 2px;
}

.correct {
    background-color: #538d4e;
}

.half-right {
    background-color: #b59f3b;
}

.wrong {
    background-color: #3a3a3c;
}

/* keyboard styling */
#keyboard {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.keyboard-row {
  display: flex;
  gap: 5px;
}

.key {
  padding: 10px;
  font-size: 17px;
  color: white;
  height: 60px;
  min-width:  33px;
  border-radius: 5px;
  background-color: #818384;
  user-select: none;
  border: none;
  text-align: center;
}

.key.correct {
    background-color: #538d4e;
}

.key.half-right {
    background-color: #b59f3b;
}

.key.wrong {
    background-color: #3a3a3c;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

/* share button  */
#post-game-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#shareBtn{
    position: fixed;
    top: 22vh;
    height: 35px;
    width: 160px;
    background-color: #58a351;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    z-index: 10001;
}

.postGameBtn{
  position: fixed;
}

.easy{
      top: 28vh;
}

.hard{
      top: 34vh;
}

#shareBtn img {
    vertical-align: middle;
    height: 18px;
    width: 18px;
}

#shareBtn:hover{
    background-color: #538d4e;
}

.newGameBtn:hover{
    background-color: #7b6d2c;
}

/* alert  */
#custom-alert {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 16px;
    z-index: 10002;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    width: 200px;
    text-align: center;
}

#custom-alert.show {
    opacity: 1;
}

#board-container.blur {
  filter: blur(5px);
}

/* prevent double-tapping to zoom */
html, body, #keyboard, .keyboard-row, .key{
  touch-action: manipulation;
}

#alreadyPlayedMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#alreadyPlayedMessage h1 {
  margin-top: 0px;
}
